# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
# Everything inside .vscode except tasks.json
.vscode/*
!.vscode/tasks.json
main
sort

*.txt

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.fdb_latexmk
*.synctex.gz
*.toc
*.synctex

# LaTeX output files
*.pdf